{% extends "master.html" %}
{% load static %}

{% block title %}
    <h3>Liste des presences pour l'appel du {{app.date}} pour le {{cur.name}}</h3>
{% endblock %}

{% block content %}
    {% if liste|length > 0 %}
        <ul class="list-group">
        {% for pres in liste %}
            {% if pres.0.isMissing %}
                <li class="list-group-item" style="background:#E45858; border: 1px solid black;">{{pres.1}} : Absent</li>
            {% else %}
                <li class="list-group-item" style="background:#89CF5E; border: 1px solid black;">{{pres.1}} : Present</li>
            {% endif %}
        {% endfor %}
        </ul>

    {% else %}
    <p> Pas d'appel.</p>

    {% endif %}
{% endblock %}