
.page-header{
    background-color: #505050; font-family: Arial; color: #FFFFFF;
    width: 100%;
    padding: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width:100%
}

.img-fluid{
    max-width: 10%;
    height: auto;
    text-align: right;
}

.list-group{
    padding-top: 10px;
}