{% extends "master.html" %}
{% load static %}

{% if liste%}
  {% block title %}
    <h3>Liste des cursus</h3>
  {% endblock %}
  {% block content %}
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Cursus</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
    {% for cursus in liste %}
        <tr>
          <td><a href="/lycee/{{cursus.id}}">{{cursus.name}}</a></td>
          <td><a href="/lycee/cursusCall/{{cursus.id}}">Faire l'appel</a></td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
    <button type="cancel" class="btn btn-success"><a style="color: white"href="/lycee/student/create">Créer un nouvel élève</a></button>
    <button type="cancel" class="btn btn-success"><a style="color: white"href="/lycee/cursus/create">Créer un nouveau Cursus</a></button>
    <button type="cancel" class="btn btn-warning"><a style="color: white"href="/lycee/call">Appel particulier</a></button>
  {% endblock %}
{% else %}
  <p> No cursus to show .</p>

{% endif %}