{% extends "master.html" %}
{% load static %}

{% block content %}
{% if liste%}
  {% block title %}
    <h3>Appel pour le cursus {{cursus.name}}</h3>
  {% endblock %}

    {% if err %}
        <p style="color:red"> {{ err }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        Date de l'appel : <input type="date" name="date_appel">
        Heure de début : <input type="time" name="debut_appel">
        Heure de fin : <input type="time" name="fin_appel"><br>
        {% for stud in liste %}
            <label class="labelo">{{stud.first_name}} {{stud.last_name}}</label>
            <input type="checkbox" name="{{stud.id}}">
            <br>
        {% endfor %}
        <button type="cancel" class="btn btn-danger"><a style="color: white"href="/lycee/">Annuler</a></button>
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>

{% else %}
  <p> Pas d'étudiant pour ce cursus.</p>

{% endif %}
{% endblock %}