{% extends "master.html" %}
{% load static %}

{% block title %}
    <h3>Liste des appels</h3>
{% endblock %}

{% block content %}
  {% if liste|length > 0 %}

    <ul class="list-group">
        {% for call in liste %}
        <a href="/lycee/listCall/{{call.0}}"><li class="list-group-item">Appel du {{call.1}} pour le cours de {{call.2}} de {{call.3}} à {{call.4}}</li></a>
        {% endfor %}
    </ul>
    <a href="particularCalls"><button type="button" class="btn btn-primary">Afficher les appels particuliers</button></a>
  {% else %}
    <p> Pas d'appel.</p>
    <a href="particularCalls"><button type="button" class="btn btn-primary">Afficher les appels particuliers</button></a>

  {% endif %}
{% endblock %}